
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    transition: 1s;
    flex-grow: 1;
  }
  
  .left {
    left: 0;

    
    
  }
  

  .right {
    right: 0;
 
  }
  

  .centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  





  #background-video1 {
    width:50%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


  #background-video2 {
    width:50%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  body
  {
    background-color: black;
  }

  .vl {
    top: 0;
    border-left: 7px solid white;
    height:200%;
  }


  .logo
{
    color:white;
    position:absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    
}


.logo a
{
  text-decoration: none;
  color: white;
}


.btn1 , .btn2
{
  width: auto;
height: auto;
  color: white;
  font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
  font-weight: 600;
}



.btn2:hover
{
  color:yellow;
  transition: 2s;
  transform: scale(5);
  
}

.btn1:hover
{
  color:gray;
  transition: 2s;
}

.center
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}