@import url(https://db.onlinewebfonts.com/c/5fd740bac1abfb826fb7e35ae963efc9?family=ABChanel+Corpo+Regular);

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
 background-color: black;
 
}




.bg1
{
    background-image: url(./1.webp);
}

.bg2
{
    background-image: url(./2.webp);
}



.bg
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

body
{
    padding: 0;
    margin: 0;
    height: 100%;

}

.logo
{
    color:white;
    position:fixed;
    text-align: center;
    top: 0;
    width: 100%;
    font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}


.text
{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 180px 0;
 font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
    color: white;
   
}


#p1
{
   
    font-size: 10px;
    line-height: 14px;
    max-width: 700px;
    text-align: center;
    transition: all .2s ease-in-out;
    font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
}

.text h1
{
    margin-bottom: 20px;

}

.bg1 svg
{
    position: absolute;
    top: 30px;
}




.bg3
{
height: 50%;

}

.text2 p
{
    font-size: 10px;
    line-height: 14px;
    max-width: 700px;
    text-align: center;
    font-family: ABChanel Corpo Regular, Arial, Helvetica, sans-serif;
    color: white;
}

.text2
{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 180px 0;
    color: white; 
}

video
{
    width: 100%;
    height: 100%;
}